<tr>
  <% if @price < user.sum_money_out  %>
    <% @place += 1 %>
    <% @price = user.sum_money_out %>
  <% end %>
  <td> <%= @place %> </td>
  <td> <%= link_to user.name, user %> </td>
  <td> <%= user.sum_tip_prices.to_s + ' €'%> </td>
  <% if current_user.admin? %>
    <td> <%= user.sum_money_in.to_s + ' €'%> </td>
    <td> <%= (user.sum_money_in-user.sum_money_out).to_s + ' €'%> </td>
    <td><%= link_to "einzahlen", new_deposit_path(user.id) %></td>
  <% end %>
  <td>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "löschen", user, method: :delete,
                                  data: { confirm: "Sind sie sicher?" } %>
  <% end %>
  </td>
</tr>
