<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <br>
      <% if current_user.admin? || @user == current_user %>
      <h2>
        Einzahlungen
      </h2>
      <table class="table table-hover">
       <tr>
         <th>Datum</th>
         <th>Eingezahlt von</th>
         <th>Kommentar</th>
         <th>Betrag</th>
       </tr>
       <tr>
      <% @deposits.each do |deposit| %>
         <td><%= deposit.created_at %></td>
         <td><%= User.find_by_id(deposit.creater_id).name %></td>
         <td><%= deposit.comment %></td>
         <td><%= deposit.amount.to_s + " €" %></td>
       </tr>
       <% end %>
       <tr>
         <td></td>
         <td></td>
         <td><b>Summe: </b></td>
         <td><%= @deposits_sum.to_s + " €" %></td>
       </tr>
       <tr>
         <td></td>
         <td></td>
         <td><b>Tipp Kosten: </b></td>
         <td><%= @tip_kosts.to_s + " €" %></td>
       </tr>
       <tr>
         <td></td>
         <td></td>
         <td><b>Saldo: </b></td>
         <td><%= @open.to_s + " €" %></td>
       </tr>
       </table>
       <% end %>

         <div class="table-responsive">
         <table class="table table-hover">
           <thead>
             <tr>
               <td>Spiel</td>
               <td>Datum</td>
               <td>H</td>
               <td>A</td>
               <td>Tipp</td>
               <td>Kosten</td>
               <td>Ergebnis</td>
               <% if current_user.admin? %>
                 <td> Edit </td>
               <%end%>
             </tr>
           </thead>
           <tbody>
             <% @homepage = false %>
             <%= render @games %>
           </tbody>
         </table>
       </div>
    </section>
  </aside>
</div>
