<% provide(:title, 'Tipp') %>
<h1>Tipp</h1>


    <%= bootstrap_form_for(@tip) do |f| %>

    <table class="table" style="table-layout:fixed" horizontal-align="center">
      <thead>
        <tr>
          <td > Heimmannschaft </td>
          <td align="right"> Auswärtsmannschaft </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= image_tag("#{@home_team.team_logo}", :alt => "Team Logo", size: "35") %>
            <%= @home_team.name %>
          </td>
          <td align="right">
            <%= image_tag("#{@away_team.team_logo}", :alt => "Team Logo", size: "35") %>
            <%= @away_team.name %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.number_field :home_goals, hide_label: true%>
          </td>
          <td align="right">
            <%= f.number_field :away_goals, hide_label: true%>
          </td>
        </tr>
      </tbody>
    </table>
      <%= f.submit "Tipp Speichern", class: "btn btn-primary" %>
    <% end %>
